
span {
    color: $secondary-dark;
}

.dynatable-search {
    padding-left: 6px;
    margin-right: 16px;
    background-color: $primary;
    opacity: 0.85;  
    color: $white;
}

.dynatable-per-page, .dynatable-record-count {
    margin-left: 16px;
}

.dynatable-per-page {
    background-color: $primary;
    opacity: 0.85;
    padding: 8px 0 10px 6px;
    &-label {
        color: $white;
    }
}

select, input {
    border: none;
    padding: 8px;
    background-color: rgba(3,3,3,0.1);
    color: $white;

    option {
        background-color: $primary;
    }
}


.table-container {
    display: none;
    margin-top: 5rem;
}

#deportistas-table {
    width: 100%;
    font: 12px 'Raleway';
    margin-bottom: 16px;
    border-spacing: 0px;
    border: 1px solid #ccc;

    tbody tr {
        cursor: pointer;
        transition: background-color 0.3s ease-in;
        background-color: $background;
        color: $secondary-dark;

        &:hover {
            background-color: $secondary-light;
        }

        &.disabled {
            background-color: rgba(200, 200, 200, 0.5);
            color: rgba(91, 102, 106, 0.618);
        }

    }

    th {
        background-color: $primary;
        border-bottom: 1px solid $white;
        height: 3.8rem;

        &.hidden{
            display: none;
        }

        a {
            text-decoration: none;
        }
    }
    td {
        min-width: 0;
        height: 3.8rem;
        text-align: start;
        border-color: $secondary-dark;
        border-bottom: 1px solid #ccc;
        font: 400 11px 'Montserrat';
    }

}

ul {
    margin: 0;
}

.filtros{
    display: flex;
    flex-direction: row;
    background-color: $primary;
    box-shadow: 1px 1px 2px $secondary-dark;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    z-index: 3;

    select {
        width: 14rem;
    }

    button {
        width: 10rem;
        background-color: rgba(3,3,3,0.1);
        margin-left: auto;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.4s ease;
        outline: none;
        &:hover{
            background-color: rgba(3,3,3,0.25);
        }
    }

}

.totales {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: $primary;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    div {
        flex: 1;
        color: $white;
    }

}




