@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400|Raleway:300,400,700|Roboto:300,900');
$background: rgba(233, 233, 240, 0.535);
$primary: #C03221;
$primary-dark: rgb(140, 22, 8);
$secondary-dark: #373D3F;
$secondary-light: #CBCBD1; 
$white: #F5F3EE;
$primary80: rgba(128, 128, 128, 0.809);
$primary50: rgba(128, 128, 128, 0.503);
$primary30: rgba(128, 128, 128, 0.303);;