
$background: #c0c0c0;

@import 'deportistas';

body {
  background-color: $background;
  color: white;
  font-size: 48px;

  div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}


