
@import 'theme';
@import 'deportistas';
@import 'deportista';
@import 'navbar';
@import 'loader';

body {
  background-color: $white;
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  padding: 16px;
  font-family: 'Raleway';
  font-size: 13px;
  padding-bottom: 4rem;
}


