<head>
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
    <div class="navbar">
        <img src="">
        <h4 class="navbar-title">Club Atlético River Plate</h4>
        <a id="tecnicos" class=""><i class="material-icons">list</i>Pedidos</button>
        <a id="monitor" class="" ><i class="material-icons">pie_chart</i>Monitor</button>
        <a id="report" class="" onclick=""><i class="material-icons">insert_chart</i>Reporte</button>
        <a class="navbar-button" onclick=""><i class="material-icons">menu</i></a>
    </div>
            
    <header>
        <h1>Acti<span>vidades</span></h1>
        <h2>A simple todo list app built with node</h2>
    </header>
    <section class="form">
        <input type="text" name="todoInput" id="todoInput" placeholder="Insert your task here . . ."/>
    </section>

    <ul class ="list">
    </ul>
<script type="text/javascript" src="bundle.js"></script>
</body>
